logs/*.log
/db.sqlite3
/resources/
temp_data/*.mp4
/tests/Goldeneye.mp4
/tests/test.png
/tests/WorldIsNotEnough.mp4
/tests/TomorrowNeverDies.mp4
*.o
*.dSYM

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
/darknet/yolo9000.weights
/darknet/backup/
/darknet/predictions.png
/darknet/darknet
