.idea/
logs/*.log
*.sqlite3
*.o
*.dSYM
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
connect.sh
*.swp
creds.json
*.pid
*.mov
docs/experiments/private
docs/experiments/coco/coco_annotations
docs/experiments/yolo/yolo_test.zip
/backups/
/repos/vdn
/server/dva/staticfiles/
/server/dvap/
/shared/
/server/dvalib/crfasrnn/crfrnn_keras_model.h5
/server/dvalib/crfasrnn/cpp/high_dim_filter.so
/server/celerybeat.pid
/tests/debug/tensorflow_dataset.ipynb
/repos/tf_ctpn_cpu/checkpoints/
/repos/tf_ctpn_cpu/lib/utils/cython_nms.so
/repos/tf_ctpn_cpu/lib/utils/bbox.so
/repos/tf_ctpn_cpu/lib/utils/build/
/repos/tf_ctpn_cpu/data/demo/test.jpg
/repos/tf_ctpn_cpu/data/results/
/client/build/
/deploy/gcp/secrets.yml
/deploy/gcp/config.py
/deploy/gpu/config.py
/deploy/static/
/docs/marketing/