.idea/
logs/*.log
/db.sqlite3
/resources/
temp_data/*.mp4
/tests/Goldeneye.mp4
/tests/WorldIsNotEnough.mp4
/tests/TomorrowNeverDies.mp4
*.o
*.dSYM

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
/darknet/yolo9000.weights
/darknet/backup/
/darknet/predictions.png
/darknet/darknet
/darknet/*.txt
/docker/test_logs/logs/
/backups/backup.zip
/docker/logs/*.log
/docker/logs/logs
/docker_GPU/logs/*.log
/docker_GPU/logs/logs
/docker_GPU/nvidia-docker-compose.yml
experiments/host
experiments/connect.sh
/backups/
/notes/broadcast_index_update.patch
/darknet/data/images/
/dvalib/ssd/checkpoints/ssd_300_vgg.ckpt.index
/dvalib/ssd/checkpoints/ssd_300_vgg.ckpt.data-00000-of-00001
/notes/website/
/dvalib/facenet/facenet_model/model-*
/notes/deepvideoanalytics_march_mid.mov
/tests/external/drive_test.mp4
server
/experiments/coco_sample/
/experiments/coco/coco_sample/
/experiments/coco/coco_sample_metadata.json
/experiments/coco/coco_input.zip
/experiments/coco/coco_pre_annotations_1_1491463565.dva_export.zip
/notes/08-leonardo-dicaprio.w190.h190.2x.jpg
/experiments/coco/1_1491730669.dva_export.zip
/temp.txt
vdn_repo
mydatabase
shared/*.zip
/dvalib/data/2016_08/model.ckpt
/dvalib/data/2016_08/model.ckpt.meta
/shared/visual_genome_objects.ipynb
/shared/visual_genome_objects.txt.gz
/shared/attention/
/shared/attention_ocr/
notes/*.mov
/shared/demo_model/
/dva/staticfiles/
/dvap/
/dvap/*
/marketing/
/marketing/private_static/
*.mov

/shared/ctpn_trained_model.caffemodel
/dvalib/yolo/yolo.weights
/dvalib/yolo/model_data/yolo.h5
/dvalib/yolo/images/out/
/shared/underwater_data.npz
/tests/yolo_test.zip
/logs/*.edu
/dvalib/crnn/data/crnn.pth
/shared/crnn.pth
/shared/demo.png
/dvalib/data/facenet.pb
/shared/facenet.pb
/shared/old_facenet_model/
/notebooks/recaptcha.txt
/dvalib/data/vgg.pb
/shared/*
/tests/bunny.mp4
/dvalib/crfasrnn/crfrnn_keras_model.h5
/dvalib/crfasrnn/cpp/high_dim_filter.so
