pillow
fabric
django
jinja
jinja2
djangorestframework
markdown
django-filter
celery==4.0.2
django-celery-results
dj-database-url==0.4.0
raven
psycopg2
requests
boto3
protobuf
humanize
enum34
scikit-learn
awscli
django-crispy-forms
django-cors-headers
cffi
uwsgi
lmdb
gunicorn
django-celery-beat
cython