https://s3.amazonaws.com/pytorch/whl/cu75/torch-0.1.6.post22-cp27-none-linux_x86_64.whl
torchvision
fabric
django
jinja
jinja2
djangorestframework
markdown
django-filter
celery==3.1.23
django-celery==3.1.17
dj-database-url==0.4.0
whitenoise==2.0.6
raven
psycopg2
requests
boto3
protobuf
humanize
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.0.0a0-cp27-none-linux_x86_64.whl
enum34