pillow
fabric
django
jinja
jinja2
djangorestframework
markdown
django-filter
celery==3.1.23
django-celery==3.1.17
dj-database-url==0.4.0
whitenoise==2.0.6
raven
psycopg2
requests
boto3
protobuf
lmdb
humanize
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.0.0a0-cp27-none-linux_x86_64.whl
enum34
scikit-learn
awscli
django-crispy-forms