{% extends "base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>Clustering results for {{ object.algorithm }} on {{ object.clustercodes_set.count }}</h2>
        </div>
    </div>
</div>
</section>
<section class="content">
    <div class="row">
        {% for k in coarse %}
        <div class="col-lg-3">
                <div class="box box-primary">
                <div class="box box-header">
                    <h4>{{ k.coarse_text }}</h4>
                    <h4 class="pull-right">{{ k.count }}</h4>
                </div>
                <div class="box-body">
                    <img style="height:100px" src="/media/{{ k.frame.video.pk }}/frames/{{ k.frame.frame_index }}.jpg" class="img-responsive"/>
                    <img style="height:100px" src="/media/{{ k.last.video.pk }}/frames/{{ k.last.frame_index }}.jpg" class="img-responsive"/>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
</script>
{% endblock %}
