{% extends "base.html" %}
{% load staticfiles %}
{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h4>List of Detections in <a href="/videos/{{ object.video.pk }}">{{ object.video.name }}</a>  {% if object.video.dataset %} file named: {{ object.name }} {% else %} at {{ object.frame_index }}  {% endif %}</h4>
        </div>
    </div>
</div>
</section>
<section class="content">
<div class="row">
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-body">
                <table class="table">
                <thead>
                <tr>
                        <th>object</th>
                        <th>confidence</th>
                        <th>x</th>
                        <th>y</th>
                        <th>w</th>
                        <th>h</th>
                </tr>
                </thead>
                <tbody>
                {% for d in detection_list %}
                    <tr>
                        <td>{{ d.object_name }} </td>
                        <td>{{ d.confidence }} </td>
                        <td>{{ d.x }} </td>
                        <td>{{ d.y }} </td>
                        <td>{{ d.w }} </td>
                        <td>{{ d.h }} </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
    </div>
    <div class="col-lg-6">
        <div class="box-primary">
        <div class="box-body">
            <img src="{{ url }}" style="width:100%" />
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="box box-primary">
        <div class="box-header">
            <h3>Detected objects:</h3>
        </div>
    <div class="box-body">
    <div class="row">
    {% for d in detection_list %}
    <div class="col-sm-3">
    <div class="box box-primary">
        <div class="box-header">
            <h4>{{ d.object_name }}</h4>
        </div>
        <div class="box-body text-center">
            <img src="/media/{{ object.video.pk }}/detections/{{ d.pk }}.jpg" style="margin-left:auto">
        </div>
        <div class="box-footer">
            <h5>Confidence: {{ d.confidence|floatformat }}</h5>
        </div>
    </div>
    </div>
    {% if forloop.counter|divisibleby:"4" or forloop.last %}
        </div> <div class="row">
    {% endif %}
    {% if  forloop.last %}
        </div>
    {% endif %}
    {% endfor %}
    </div>
    </div>
</div>
</section>
{% endblock %}