{% extends "base.html" %}
{% load staticfiles %}
{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h4>List of Detections in <a href="/videos/{{ object.video.pk }}">{{ object.video.name }}</a>  {% if object.video.dataset %} file named: {{ object.name }} {% else %} at {{ object.frame_index }}  {% endif %}</h4>
        </div>
    </div>
</div>
</section>
<section class="content">
<div class="row">
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header"><h3>Detections</h3></div>
            <div class="box-body">
                <table class="table">
                <thead>
                <tr>
                        <th>id</th>
                        <th>object</th>
                        <th>confidence</th>
                        <th>x</th>
                        <th>y</th>
                        <th>w</th>
                        <th>h</th>
                </tr>
                </thead>
                <tbody>
                {% for d in detection_list %}
                    <tr>
                        <td>{{ d.pk }}</td>
                        <td>{{ d.object_name }} </td>
                        <td>{{ d.confidence }} </td>
                        <td>{{ d.x }} </td>
                        <td>{{ d.y }} </td>
                        <td>{{ d.w }} </td>
                        <td>{{ d.h }} </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header"><h3>Annotations</h3></div>
            <div class="box-body">

                {% if annotation_list %}
                <table class="table">
                <thead>
                <tr>
                        <th>Annotation</th>
                        <th>full frame</th>
                        <th>detection_id</th>
                        <th>User</th>
                        <th>x</th>
                        <th>y</th>
                        <th>w</th>
                        <th>h</th>
                        <th>metadata</th>
                </tr>
                </thead>
                <tbody>
                {% for d in annotation_list %}
                    <tr>
                        <td>{{ d.label }} </td>
                        <td>{{ d.full_frame }}</td>
                        <td>{{ d.detection_id }}</td>
                        <td>{{ d.user }} </td>
                        <td>{{ d.x }} </td>
                        <td>{{ d.y }} </td>
                        <td>{{ d.w }} </td>
                        <td>{{ d.h }} </td>
                        <td class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ d.pk }}">view metadata</button></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                {% endif %}
                </div>
            </div>
    </div>
    <div class="col-lg-6">
        <div class="box box-primary">
        <div class="box-header with-borders text-center">
            {% if previous_frame %}<a href="/frames/{{ previous_frame.0.pk }}" class="btn btn-success pull-left"><i class="fa fa-backward "></i> Previous</a> {% endif %}
            <a href="/annotate_frame/{{ object.pk }}/" class="btn btn-warning"><i class="fa fa-edit"></i> View, add & edit annotations for this frame</a>
            <a href="/query_frame/{{ object.pk }}/" class="btn btn-info"><i class="fa fa-search"></i> Query using this frame</a>
            {% if next_frame %}<a href="/frames/{{ next_frame.0.pk }}" class="btn btn-success pull-right"><i class="fa fa-forward"></i> Next</a>{% endif %}
        </div>
        <div class="box-body">
            <img src="{{ url }}" style="width:100%" />
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="box box-primary">
        <div class="box-header">
            <h3>Detected objects:</h3>
        </div>
    </div>
    <div class="row">
    {% for d in detection_list %}
    <div class="col-sm-3">
    <div class="box box-primary">
        <div class="box-header">
            <h4>{{ d.object_name }}</h4>
        </div>
        <div class="box-body text-center">
            <img class="img-responsive" src="/media/{{ object.video.pk }}/detections/{{ d.pk }}.jpg" style="margin-left:auto;margin-right: auto">
        </div>
        <div class="box-footer text-center">
            <h5>Confidence: {{ d.confidence|floatformat }}</h5>
            <a href="/query_detection/{{ d.pk }}/" class="btn btn-info"><i class="fa fa-search"></i> Query using this detection</a>
        </div>
    </div>
    </div>
    {% if forloop.counter|divisibleby:"4" or forloop.last %}
        </div> <div class="row">
    {% endif %}
    {% if  forloop.last %}
        </div>
    {% endif %}
    {% endfor %}
</div>
</section>
{% for k in annotation_list %}
 <div class="modal fade" id="{{ k.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Annotation {{ k.label }}</h4>
      </div>
      <div class="modal-body">
        <textarea rows="10" style="width:80%;margin: 10px auto;">{{ k.metadata_text }}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}