{% extends "base.html" %}
{% load staticfiles %}
{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>Query results</h2>
        </div>
    </div>
</div>
</section>
<section class="content">
<div class="row">
    <div class="col-lg-5">
    <div class="box">
    <div class="box-body text-center">
        <img class="img-responsive img-bordered"  src="{{ url }}" style="width:80%;margin-left:auto;margin-right:auto" />
    </div>
    <div class="box-footer text-center">
        <a href="/requery/{{ object.pk }}/" class="btn btn-info"><i class="fa fa-search"></i> Query again </a>
    </div>
    </div>
    </div>
    <div class="col-lg-7">
        <div class="box box-primary">
            <div class="box-header with-border"><h3>DVAPQL script with base 64 encoded image_data excluded</h3></div>
            <div class="box-body">
                <textarea style="width:90%;margin:auto;height:400px">
                    {{ object.script }}
                </textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for name_entries in results %}
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3>{{ name_entries.0 }} results</h3>
            </div>
        </div>
        {% for d in name_entries.1 %}
            {% if forloop.first %} <div class="row"> {% endif %}
            <div class="col-sm-3 col-xs-6">
                <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>{% if d.result_type == "Region" %} Region {% else %} Frame {% endif %} {{ d.rank }}</h4>
                    <p>In {{ d.video_name }} at {{ d.frame_index }}</p>
                    <p>at {{ d.distance|floatformat }}</p>
                </div>
                <div class="box-body">
                    <a href="/frames/{{ d.frame_id }}"><img class="img-responsive img-bordered-sm" style="max-width:80%;max-height:200px;margin-left:auto;margin-right:auto" src="{{ d.url }}"></a>
                </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"4" or forloop.last %}</div><div class="row">{% endif %}
            {% if forloop.last %} </div> {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
</section>
{% endblock %}