{% extends "base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>Visualize & perform clustering for approximate search</h2>
        </div>
    </div>
</div>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>Create new clustering using LOPQ</h4>
                </div>
                <div class="box-body">
                    <form action="." method="post">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <label for="selected">Algorithm</label>
                                <select class="js-example-basic" id="selected" name="algorithm" required="required" style="width:100%">
                                {% for v in algorithms %}
                                    <option value="{{ v }}">{{ v }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <label for="excluded_index_entries">Exclude (Algorithms other than the selected are automatically excluded)</label>
                                <select class="js-example-basic-multiple" multiple="multiple" name="excluded_index_entries" id="excluded_index_entries" style="width:100%">
                                {% for v in index_entries %}
                                    <option value="{{ v.pk }}">{{ v.detection_name }} in {{ v.video.name }} by {{ v.algorithm }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-3">
                                <label for="components">PCA components</label>
                                <input name="components" class="form-control" value="128" required="required" type="number" >
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-3">
                                <label for="m">M</label>
                                <input name="m" class="form-control" value="16" required="required" type="number" >
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-3">
                                <label for="v">V</label>
                                <input name="v" class="form-control" value="16" required="required" type="number" >
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-3">
                                <label for="sub">Subq</label>
``                                <input name="sub" class="form-control" value="256" required="required" type="number" >
                            </div>
                        </div>
                        <div class="col-lg-12 text-center" style="margin-top:15px">{% csrf_token %}<button name="submit" class="btn btn-primary">Create new clustering</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>Clustering results & associated </h4>
                </div>
                <div class="box-body">
                    <table class="table dataTables">
                        <thead>
                        <tr>
                            <th>Algorithm</th>
                            <th>Source indexer</th>
                            <th>Components</th>
                            <th>M</th>
                            <th>V</th>
                            <th>Subquantizers</th>
                            <th>Completed</th>
                            <th>Created</th>
                            <th>details</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k in clusters %}
                        <tr>
                            <td>{{ k.algorithm }}</td>
                            <td>{{ k.indexer_algorithm }}</td>
                            <td class="text-center">{{ k.components }}</td>
                            <td class="text-center">{{ k.m }}</td>
                            <td class="text-center">{{ k.v }}</td>
                            <td class="text-center">{{ k.sub }}</td>
                            <td class="text-center">{{ k.completed }}</td>
                            <td class="text-center">{{ k.started }}</td>
                            <td class="text-center"><a href="#">details</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
            var indexer_selector = $("#selected");
            indexer_selector.select2({theme: "bootstrap"});
            var excluded_index_entries = $("#excluded_index_entries");
            excluded_index_entries.select2({theme: "bootstrap"});

        InitializeTables();
    })
</script>
{% endblock %}
