{% extends "base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>System status and logs</h2>
        </div>
    </div>
</div>
</section>
<section class="content">
<div class="row">
    <div class="col-lg-3">
        <div class="box box-primary">
            <div class="box-header with-border">Objects</div>
            <div class="box-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Data</th>
                        <th>Count</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Videos / Datasets</td>
                            <td class="text-right">{{video_count}}</td>
                            <td class="text-center"><a href="/videos/">view</a></td>
                        </tr>
                        <tr>
                            <td>Frames</td>
                            <td class="text-right">{{frame_count}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Detections</td>
                            <td class="text-right">{{detection_count}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Queries</td>
                            <td class="text-right">{{ query_count }}</td>
                            <td class="text-center"><a href="/queries/">view</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">Queues</div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead><tr><th>Queue</th></tr></thead>
                    <tbody>
                    {% for k in settings_queues %}
                            <tr><td>{{ k }}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="box box-primary">
            <div class="box-header with-border">Tasks</div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead><tr><th>Task</th></tr></thead>
                    <tbody>
                    {% for k in settings_tasks %}
                            <tr><td>{{ k }}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">Task edges</div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead><tr><th>Initial task</th><th>Subsequent task</th></tr></thead>
                    <tbody>
                    {% for k,v in settings_post_operation_tasks.items %}
                        {% for tname in v %}
                            <tr><td>{{ k }}</td><td>{{ tname }}</td></tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">Task to queue names</div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead><tr><th>Task name</th><th>Queue name</th></tr>
                    </thead>
                    <tbody>{% for k,v in settings_task_names_to_queue.items %}<tr><td>{{ k }}</td><td>{{ v }}</td></tr>{% endfor %}</tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">Task to task type</div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead><tr><th>Task name</th><th>Task type</th></tr>
                    </thead>
                    <tbody>{% for k,v in settings_task_names_to_type.items %}<tr><td>{{ k }}</td><td>{{ v }}</td></tr>{% endfor %}</tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <h3>Incomplete or Failed Events</h3>
            </div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead>
                    <tr>
                        <th>Video</th>
                        <th>Operation</th>
                        <th>Started</th>
                        <th>Completed</th>
                        <th>timestamp</th>
                        <th>time taken in seconds</th>
                        <th class="text-center">retry task</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in events %}
                        {% if e.seconds < 0 %}
                        <tr>
                            <td>{{ e.video.name }}</td>
                            <td>{{ e.operation }}</td>
                            <td class="text-center">{{ e.started }}</td>
                            <td class="text-center">{{ e.completed }}</td>
                            <td class="text-center">{{ e.created }}</td>
                            <td class="text-right">{{ e.seconds|floatformat }}</td>
                            <td class="text-center"><a href="/retry/{{ e.pk }}/">Retry</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3>Successful Events</h3>
            </div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead>
                    <tr>
                        <th>Video</th>
                        <th>Operation</th>
                        <th>Started</th>
                        <th>Completed</th>
                        <th>timestamp</th>
                        <th>time taken in seconds</th>
                        <th class="text-center">retry task</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in events %}
                        {% if e.seconds > 0 %}
                        <tr>
                            <td>{{ e.video.name }}</td>
                            <td>{{ e.operation }}</td>
                            <td class="text-center">{{ e.started }}</td>
                            <td class="text-center">{{ e.completed }}</td>
                            <td class="text-center">{{ e.created }}</td>
                            <td class="text-right">{{ e.seconds|floatformat }}</td>
                            <td class="text-center"><a href="/retry/{{ e.pk }}/">Retry</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
            <h3>Indexer log</h3>
            </div>
            <div class="box-body">
                <textarea style="width:100%;height:250px">{{ indexer_log }}</textarea>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
            <h3>Detector log</h3>
            </div>
            <div class="box-body">
                <textarea style="width:100%;height:250px">{{ detector_log }}</textarea>
            </div>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
            <h3>Extract log</h3>
            </div>
            <div class="box-body">
                <textarea style="width:100%;height:250px">{{ extract_log }}</textarea>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
            <h3>Retriever log</h3>
            </div>
            <div class="box-body">
                <textarea style="width:100%;height:250px">{{ retriever_log }}</textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
            <h3>Face detector log</h3>
            </div>
            <div class="box-body">
                <textarea style="width:100%;height:250px">{{ face_detector_log }}</textarea>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
            <h3>Face retriever log</h3>
            </div>
            <div class="box-body">
                <textarea style="width:100%;height:250px">{{ face_retriever_log }}</textarea>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
</script>
{% endblock %}
