{% extends "base.html" %}
{% load static from staticfiles %}
{% block page_css %}
{#  <script type="text/javascript" src={% static 'vis.js' %}></script>#}
{#  <link href={% static 'vis-network.min.css' %} rel="stylesheet" type="text/css" />#}
{##}
{#  <style type="text/css">#}
{#    #mynetwork {#}
{#      width: 100%;#}
{#      height: 200px;#}
{#      border: 1px solid lightgray;#}
{#    }#}
{#  </style>#}
{% endblock %}


{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>Tasks, Operations & Queues</h2>
        </div>
    </div>
</div>
</section>
<section class="content">
<div class="row">
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
                <h3>Failed tasks</h3>
            </div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead>
                    <tr>
                        <th>Video</th>
                        <th>Operation</th>
                        <th>ts</th>
                        <th>unix ts</th>
                        <th>duration</th>
                        <th>error</th>
                        <th class="text-center">retry task</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in events %}
                        {% if e.errored %}
                        <tr>
                            <td>{{ e.video.name }}</td>
                            <td>{{ e.operation }}</td>
                            <td class="text-center">{{ e.created }}</td>
                            <td class="text-center">{{ e.created|date:"U" }}</td>
                            <td class="text-right">{{ e.seconds|floatformat }}</td>
                            <td class="text-right">{{ e.error_message }}</td>
                            <td class="text-center"><a href="/retry/{{ e.pk }}/">Retry</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
                <h3>Pending tasks</h3>
            </div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead>
                    <tr>
                        <th>Video</th>
                        <th>Operation</th>
                        <th>ts</th>
                        <th>unix ts</th>
                        <th class="text-center">retry task</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in events %}
                        {% if e.seconds < 0 and not e.started %}
                        <tr>
                            <td>{{ e.video.name }}</td>
                            <td>{{ e.operation }}</td>
                            <td class="text-center">{{ e.created }}</td>
                            <td class="text-center">{{ e.created|date:"U" }}</td>
                            <td class="text-center"><a href="/retry/{{ e.pk }}/">Retry</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
                <h3>Running / incomplete tasks</h3>
            </div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead>
                    <tr>
                        <th>Video</th>
                        <th>Operation</th>
                        <th>ts</th>
                        <th>unix ts</th>
                        <th class="text-center">mark as failed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in events %}
                        {% if e.seconds < 0 and e.started and not e.errored %}
                        <tr>
                            <td>{{ e.video.name }}</td>
                            <td>{{ e.operation }}</td>
                            <td class="text-center">{{ e.created }}</td>
                            <td class="text-center">{{ e.created|date:"U" }}</td>
                            <td class="text-center"><a href="/failed/{{ e.pk }}/">Mark as failed</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
                <h3>Successful tasks</h3>
            </div>
            <div class="box-body">
                <table class="table dataTables">
                    <thead>
                    <tr>
                        <th>Video</th>
                        <th>Operation</th>
                        <th>ts</th>
                        <th>unix ts</th>
                        <th>duration</th>
                        <th class="text-center">retry task</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in events %}
                        {% if e.completed %}
                        <tr>
                            <td>{{ e.video.name }}</td>
                            <td>{{ e.operation }}</td>
                            <td class="text-center">{{ e.created }}</td>
                            <td class="text-center">{{ e.created|date:"U" }}</td>
                            <td class="text-right">{{ e.seconds|floatformat }}</td>
                            <td class="text-center"><a href="/retry/{{ e.pk }}/">Retry</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3>Task & Queue configuration</h3>
            </div>
            <div class="box-body">
            <div class="row">
                <div class="col-md-3 col-lg-2 col-sm-12">
                <table class="table">
                    <thead><tr><th>Queue</th></tr></thead>
                    <tbody>
                    {% for k in settings_queues %}
                            <tr><td>{{ k }}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="col-md-9 col-lg-10 col-sm-12">
                <table class="table dataTables">
                    <thead><tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Queue</th>
                        <th>Post success tasks</th>
                    </tr>
                    </thead>
                    <tbody>{% for k in task_list %}
                        <tr>
                            <td>{{ k.name }}</td>
                            <td>{{ k.type }}</td>
                            <td>{{ k.queue }}</td>
                            <td>{{ k.edges }}</td>
                        </tr>
                    {% endfor %}</tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
</script>
{% endblock %}
