{% extends "base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>Worker & Queue management</h2>
        </div>
    </div>
</div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4 col-lg-2">
            <form method="post" action="{% url "workers" %}">{% csrf_token %}
            <div class="box box-primary">
                <div class="box-header with-border"><h4>List workers</h4></div>
                <div class="box-body">
                    <button class="btn btn-primary pull-right" type="submit" name="op" value="list_workers">Query</button>
                </div>
            </div>
            </form>
        </div>
        <div class="col-md-4  col-lg-2" >
            <form method="post" action="{% url "workers" %}">{% csrf_token %}
            <div class="box box-primary">
                <div class="box-header with-border"><h4>List Managers</h4></div>
                <div class="box-body">
                    <button class="btn btn-primary pull-right" type="submit" name="op" value="list">List managers</button>
                </div>
            </div>
            </form>
            <div class="box box-primary">
                <form method="post" action="{% url "workers" %}">{% csrf_token %}
                <div class="box-header with-border"><h4>Get GPU utilization</h4></div>
                <div class="box-body">
                    <button class="btn btn-primary pull-right" type="submit" name="op" value="gpuinfo">GPU use</button>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="box box-primary">
                <form method="post" action="{% url "workers" %}">{% csrf_token %}
                <div class="box-header with-border"><h4>Launch queue</h4></div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="host_name">Host name<input name="host_name" required="required" type="text" class="form-control"></label>
                    </div>
                    <div class="form-group">
                        <label for="queue_name">Queue name<input name="queue_name" type="text" required="required" class="form-control"></label>
                    </div>
                    <button class="btn btn-primary form-actions" type="submit" name="op" value="launch">Launch queue</button>
                </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4>Management Actions</h4>
            </div>
            <div class="box-body">
                <table class="table dataTables-dict">
                <thead>
                <tr>
                    <th>op</th>
                    <th>host</th>
                    <th>message</th>
                    <th>time</th>
                </tr>
                </thead>
                <tbody>
                    {% for k in actions %}
                        <tr>
                            <td>{{ k.op }} </td>
                            <td>{{ k.host }}</td>
                            <td>{{ k.message }}</td>
                            <td>{{ k.created|timesince }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    {% if queues %}
    <div class="row">
        <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4>Queue list (timeout = {{ timeout }})</h4>
            </div>
            <div class="box-body">
                <table class="table dataTables-dict">
                <thead>
                <tr>
                    <th>Worker name</th>
                    <th>queue name</th>
                    <th>routing key</th>
                </tr>
                </thead>
                <tbody>
                    {% for name,qs in queues.items %}
                        {% for q in qs %}
                        <tr>
                            <td>{{ name }} </td>
                            <td>{{ q.name }}</td>
                            <td>{{ q.routing_key }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4>Configure workers</h4>
            </div>
            <div class="box-body">
            </div>
        </div>
        </div>
        <div class="col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4>Assign queue to worker</h4>
            </div>
            <div class="box-body">
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
</script>
{% endblock %}
