.main-header .logo {
    width: 400px !important;
    font-weight: bold !important;
    color: rgb(3, 60, 100) !important;
    font-size: 32px;
    text-align: left;
    font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.status-bar{
    display:inline-block;
    width:600px
}

.main-header .navbar{
    margin-left: 0;
}
@media (max-width: 1300px) {
    .status-bar {
        display: inline-block;
        width: 400px;
    }
    .h4status{
            font-size: 12pt;
    }
}

@media (max-width: 767px) {
    .main-header .logo, .main-header .navbar {
        width: 100%;
        float: left;
    }
}


td {
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
}

table {
    table-layout: fixed;
    width: 100%
}


body{
   min-width:1000px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:1000px;             /* As IE ignores !important it will set width as 1000px; */
   overflow-x: scroll;
}
