<!DOCTYPE html>
{% load static from staticfiles %}
<html {% block ngblock %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Deep Video Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static '/bootstrap/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href={% static '/dist/css/AdminLTE.min.css' %}>
    <link rel="stylesheet" href={% static '/plugins/datatables/dataTables.bootstrap.css' %}>
    <link rel="stylesheet" href={% static '/dist/css/skins/_all-skins.min.css' %}>
    <link rel="stylesheet" href={% static '/custom-lte.css' %}>
    {% block page_css %}
    {% endblock %}
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-black sidebar-collapse">
<div class="wrapper" {% block ng_control %} {% endblock %} >


  <header class="main-header">

    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="font-size:18px">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
        <a href="/" class="logo">
          <span class="logo-lg">Deep Video Analytics</span>
        </a>
     <div class="status-bar">
      {% block status_bar %}
         {% if alert %}
          <div style="margin-top:10px;padding-top:5px;padding-bottom:5px;margin-bottom:0px;" class="text-center alert bg-aqua disabled alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ alert }}
          </div>
          {% endif %}
      {% endblock %}
     </div>
      <div class="navbar-custom-menu" style="display: inline-block !important;">
        <ul class="nav navbar-nav">
          <li><a href="https://www.deepvideoanalytics.com/" target="_blank">Deep Video Analytics</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!-- search form (Optional) -->
      <!-- /.search form -->
      <!-- Sidebar Menu -->
      <ul class="nav sidebar-menu">
        <li><a href="/"><i class="fa fa-search"></i><span class="nav-label">Dashboard</span></a></li>
        <li><a href="/videos/"><i class="fa fa fa-desktop"></i><span class="nav-label">Videos / Datasets</span></a></li>
        <li><a href="/queries/"><i class="fa fa fa-backward"></i><span class="nav-label">Past visual queries</span></a></li>
        <li><a href="/stored_process/"><i class="fa fa-play"></i><span class="nav-label">Run DVAPQL processes</span></a></li>
        <li><a href="/process/"><i class="fa fa fa-clock-o"></i><span class="nav-label">Past DVAPQL processes</span></a></li>
        <li><a href="/textsearch/"><i class="fa fa-font"></i><span class="nav-label">Full-text Search</span></a></li>
        <li><a href="/retrievers/"><i class="fa fa-backward"></i><span class="nav-label">Retrievers</span></a></li>
        <li><a href="/indexes/"><i class="fa fa-list"></i><span class="nav-label">Indexes</span></a></li>
        <li><a href="/models/"><i class="fa fa fa-database"></i><span class="nav-label">Trained Models</span></a></li>
        <li><a href="/training_sets/"><i class="fa fa-circle"></i><span class="nav-label">Training Sets</span></a></li>
        <li><a href="/external/"><i class="fa fa-globe"></i><span class="nav-label">External data & scripts</span></a></li>
        <li><a href="{% url "tasks" %}"><i class="fa fa-tasks"></i><span class="nav-label">Tasks</span></a></li>
        <li><a href="{% url "status" %}"><i class="fa fa-question-circle"></i><span class="nav-label">Local logs</span></a></li>
        <li><a href="{% url "management" %}"><i class="fa fa-laptop"></i><span class="nav-label">Management</span></a></li>
        <li><a href="/security"><i class="fa fa-ticket"></i><span class="nav-label">Security & Auth tokens</span></a></li>
        <li><a href="/api"><i class="fa fa-keyboard-o"></i><span class="nav-label">REST API</span></a></li>
        <li><a href="/admin"><i class="fa fa-lock"></i><span class="nav-label">Admin</span></a></li>
        <li><a href="/accounts/logout/"><i class="fa fa-sign-out"></i><span class="nav-label">Log out</span></a></li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    {% block page_content %}
  <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <section class="content">


    </section>
    <!-- /.content -->
    {% endblock %}
  </div>

  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
    </div>
    <strong>Copyright <a href="http://www.akshaybhat.com">Akshay Bhat, Cornell University</a> All rights reserved.</strong>
  </footer>
</div>
<!-- ./wrapper -->
<script src={% static '/plugins/jQuery/jquery-2.2.3.min.js' %}></script>
<script src={% static '/plugins/flot/jquery.flot.js' %}></script>
<script src={% static '/plugins/flot/jquery.flot.resize.js' %}></script>
<script src={% static '/plugins/flot/jquery.flot.pie.js' %}></script>
<script src={% static '/bootstrap/js/bootstrap.min.js' %}></script>
<script src={% static '/dist/js/app.min.js' %}></script>
<script src={% static '/tables.js' %}></script>
<script src={% static '/plugins/datatables/jquery.dataTables.min.js' %}></script>
<script src={% static '/plotly-latest.min.js' %}></script>
<script src={% static '/plugins/datatables/dataTables.bootstrap.min.js' %}></script>
<link href={% static '/select2/css/select2.min.css' %} rel="stylesheet" />
<link href={% static '/select2/css/select2-bootstrap.min.css' %} rel="stylesheet" />
<script src={% static '/select2/js/select2.min.js' %}></script>
<script src={% static '/ace/ace.js' %}></script>
{% block page_js %}
{% endblock %}
</body>
</html>
