{% extends "dvaui/base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>Retrievers
                <a href="/stored_process#shortcuts" class="btn btn-success" style="float: right"><i class="fa fa-plus-square"></i> Create new retriever</a>
            </h2>
        </div>
    </div>
</div>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
            <div class="box-header with-border">
                <h4>Retrievers</h4>
            </div>
            <div class="box-body">
                <table class="table dataTables-dict">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Algorithm</th>
                    <th>Source filter</th>
                    <th>Arguments</th>
                    <th>Retriever queue</th>
                    <th>Created</th>
                    <th>Last built</th>
                </tr>
                </thead>
                <tbody>
                {% for r in objects %}
                    <tr>
                        <td>{{ r.name }} </td>
                        <td>{{ r.get_algorithm_display }}</td>
                        <td>{{ r.source_filters}}</td>
                        <td>{{ r.arguments }}</td>
                        <td>q_retriever_{{ r.pk }}</td>
                        <td>{{ r.created }}</td>
                        <td>{{ r.last_built }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
            InitializeTables();
    })
</script>
{% endblock %}
