{% extends "dvaui/base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>Logs (only on the current machine / container)</h2>
        </div>
    </div>
</div>
</section>
<section class="content">
<div class="row">
    {% for log in logs %}
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
            <h4>{{ log.0 }}</h4>
            </div>
            <div class="box-body">
                <textarea style="width:100%;height:250px">{{ log.1 }}</textarea>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
</script>
{% endblock %}
