{% extends "dvaui/base.html" %}
{% load staticfiles %}
{% block page_content %}
<section class="content-header" style="padding-top:0px" xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="box box-info">
        <div class="box-header">
            <h2>Launch new DVAPQL process or use / create a template</h2>
            {% if is_paginated %}
                <div class="pagination text-center" style="width:100%">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a class="btn btn-info" style="float:left" href=".?page={{ page_obj.previous_page_number }}"><i class="fa fa-backward"></i>  Go back</a>
                        {% endif %}
                        <span class="page-current " style="font-size:24pt;font-weight:bold">
                            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a class="btn btn-info" style="float:right" href=".?page={{ page_obj.next_page_number }}">Load more  <i class="fa fa-forward"></i></a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <form method="post" action="/submit_process">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>Launch a processing or query task specified using DVAPQL</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <textarea name="script" id="script" style="display:none" ></textarea>
                            <div id="editor" style="width:90%;margin:auto;height:400px" ></div>
                        </div>
                    </div>
                </div>
                <div class="box-footer text-center">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Submit & launch</button>
                </div>
            </div>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4>Stored process templates</h4>
                </div>
                <div class="box-body">
                    <table class="table dataTables">
                    <thead>
                    <tr>
                        <th class="text-center">User</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Since</th>
                        <th class="text-center">Created</th>
                        <th class="text-center">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in object_list %}
                        <tr>
                            <td>{{ p.creator }}</td>
                            <td>{{ p.name }}</td>
                            <td class="text-center">{{ p.created|timesince}}</td>
                            <td class="text-center">{{ p.created }}</td>
                            <td class="text-center">
                            <a href="/stored_process/{{ p.pk }}">details</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
        var scripttext = document.getElementById("script");
        var editor = ace.edit("editor",{
            wrapBehavioursEnabled:true,
            autoScrollEditorIntoView:true});
        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/json");
        var textarea = $('textarea[name="script"]').hide();
        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
          textarea.val(editor.getSession().getValue());
        });
    })
</script>
{% endblock %}
